<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.name }} @ data-icons</title>
    <style>
        .image_link img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>data icons - {{ page.name }}</h1>
    <br>
    {% if page.description %} 
        {{ page.description }}
    <br>
    <br>
    {% endif %} 
    <b>subfolders:</b>
    <br>
    {% if page.subfolders %} 
    {% for subfolder in page.subfolders %}
        <a class="subfolder_link" id="subfolder_{{ subfolder }}" href="{{ subfolder }}/index.html">{{ subfolder }}</a>
    {% endfor %}
    {% endif %} 
    <br>
    <br>
    <b>images:</b>
    <br>
    {% if page.images %} 
    {% for image in page.images %}
    <a class="image_link" id="image_{{ subfolder }}" href="{{ image.name }}.html"><img src="./{{ image.path }}" alt="{{ image.alt }}"></a>
    {% endfor %}
    {% endif %} 
    <br>
</body>
</html>