<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ image.name }} @ data-icons</title>
    <style>
        .tags {
            /* Add your desired CSS styles for the tags here */
        }
    </style>
</head>
<body>
    <h1>data icons - {{ image.name }}</h1>
    <br>
    <a href="{{ image.path }}">
        <img src="{{ image.path }}" alt="{{ image.alt }}">
    </a>
    <br>
    <b>tags:</b>
    {% if image.tags %} 
    {% for tag in image.tags %}
        <span class="tags" id="tag_{{ loop.index }}">{{ tag }}</span>
    {% endfor %}
    {% endif %} 
</body>
</html>